<template >
  <div  >
    <br/>
    <br/>

    <table border="1" class="responsive-table  striped" >
      <tr>
        <td>id</td>
        <td>nombre</td>
        <td>correo</td>
        <td>password</td>
      </tr>
      <tr v-for="student in students" :key="student.id" >
        <th>{{student.id}}</th>
        <th>{{student.nombre}}</th>
        <th>{{student.correo}}</th>
        <th>{{student.password}}</th>
      </tr>

    </table>
  </div>

</template>

<script>
export default {
  data() {
    return {
      mensaje:'hola',
      successMessage: '',
      students: [],
      activeStudent: {},

    }
},
  mounted () {
    this.getAllStudents()
  },
  methods: {
      setMessages (res) {
        if (res.data.error) {
          this.errorMessage = res.data.message
        } else {
          this.successMessage = res.data.message
          this.getAllStudents()
        }
        setTimeout(() => {
          this.errorMessage = false
          this.successMessage = false
        }, 2000)
      },
      getAllStudents(){
        axios.get( 'http://localhost/api/api.php?action=read' )
          .then( res => {
            // this.toggleModal('add')
            this.setMessages(res)
            this.students = res.data.students
            // if (this.email != "" && this.password != "") {
            //   if (this.email=students.email && this.password=students.password ) {
            //     this.$router.push({ name: "index" });
            //     this.$refs.myModalRef.hide();
            //   }
            // }
          } )
      },
  }
}
</script>

<style lang="css" scoped>
</style>
