<template >

  <div class="contenedor">
    <div class="contenedorup">
      <h1 id="reset">Reset Password</h1>

    </div>
    <p id="email2" >E-mail Addres</p>
    <input type="text" name="" value="" id="textemail2">
    <input type="button" name="" value="Send Password Reset Link" id="button2" >
  </div>

</template>

<script>
export default {
}
</script>

<style>
</style>
