<template >
  <div class="">
    <br>
    <br>
    <br>
    <v-app>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center>
            <v-flex xs12 md8>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                  v-model="email"
                  :counter="100"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>
                <v-btn  color="success" @click="validate">
                  Reset Password
                </v-btn>
              </v-form>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-app>
  </div>

</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
