<template lang="html">
  <div id="app">
    <div  onloadstart="location.reload(true)">
      <v-app ligth>
        <v-content>
          <div
            class="wrapper"
            v-cloak
            v-bind:class="{
              'is-previous': isPreviousSlide,
              'first-load': isFirstLoad
            }"
          >
            <div
              class="slide-wrapper"
              v-for="(slide, index) in slides"
              v-bind:class="{ active: index === currentSlide }"
              v-bind:style="{
                'z-index': slides.length - index,
                'background-image': 'url(' + slide.bgImg + ')'
              }"
            >
              <div class="slide-inner">
                <div class="slide-bg-text">
                  <p>{{ slide.headlineFirstLine }}</p>
                  <p>{{ slide.headlineSecondLine }}</p>
                </div>
                <div class="slide-rect-filter">
                  <div
                    class="slide-rect"
                    v-bind:style="{
                      'border-image-source': 'url(' + slide.rectImg + ')'
                    }"
                  ></div>
                </div>
                <div class="slide-content">
                  <h1 class="slide-content-text">
                    <p>{{ slide.headlineFirstLine }}</p>
                    <p>{{ slide.headlineSecondLine }}</p>
                  </h1>
                  <a class="slide-content-cta">Call To Action</a>
                </div>
                <h2 class="slide-side-text">
                  <span>{{ slide.sublineFirstLine }} / </span
                  ><span>{{ slide.sublineSecondLine }}</span>
                </h2>
              </div>
            </div>
            <div class="controls-container">
              <button
                class="controls-button"
                v-for="(slide, index) in slides"
                v-bind:class="{ active: index === currentSlide }"
                v-on:click="updateSlide(index)"
              >
                {{ slide.headlineFirstLine }} {{ slide.headlineSecondLine }}
              </button>
            </div>
            <div class="pagination-container">
              <span
                class="pagination-item"
                v-for="(slide, index) in slides"
                v-bind:class="{ active: index === currentSlide }"
                v-on:click="updateSlide(index)"
              ></span>
            </div>
          </div>
        </v-content>

        <!-- *************************************************************************************************** -->
        <!-- *************************************************************************************************** -->

        <v-content>
          <section>
            <v-layout column wrap class="my-5" align-center>
              <v-flex xs12 sm4 class="my-3">
                <div class="text-xs-center">
                  <h2 class="headline">The best way they know you</h2>
                  <span class="subheading">
                    Share, publish and create
                  </span>
                </div>
              </v-flex>
              <v-flex xs12>
                <v-container grid-list-xl>
                  <v-layout row wrap align-center>
                    <v-flex xs12 md4>
                      <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                          <v-icon x-large class="blue--text text--lighten-2"
                            >fas fa-share-square</v-icon
                          >
                        </v-card-text>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline text-xs-center">Share</div>
                        </v-card-title>
                        <v-card-text>
                          Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                          volutpat tincidunt ornare. Pellentesque habitant morbi
                          tristique senectus et netus et malesuada fames ac
                          turpis egestas. Nullam in aliquet odio. Aliquam eu est
                          vitae tellus bibendum tincidunt. Suspendisse potenti.
                        </v-card-text>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                          <v-icon x-large class="blue--text text--lighten-2"
                            >fas fa-bullhorn</v-icon
                          >
                        </v-card-text>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline">Publishing</div>
                        </v-card-title>
                        <v-card-text>
                          Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                          volutpat tincidunt ornare. Pellentesque habitant morbi
                          tristique senectus et netus et malesuada fames ac
                          turpis egestas. Nullam in aliquet odio. Aliquam eu est
                          vitae tellus bibendum tincidunt. Suspendisse potenti.
                        </v-card-text>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-card class="elevation-0 transparent">
                        <v-card-text class="text-xs-center">
                          <v-icon x-large class="blue--text text--lighten-2"
                            >fas fa-wrench</v-icon
                          >
                        </v-card-text>
                        <v-card-title
                          primary-title
                          class="layout justify-center"
                        >
                          <div class="headline text-xs-center">Creates</div>
                        </v-card-title>
                        <v-card-text>
                          Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                          volutpat tincidunt ornare. Pellentesque habitant morbi
                          tristique senectus et netus et malesuada fames ac
                          turpis egestas. Nullam in aliquet odio. Aliquam eu est
                          vitae tellus bibendum tincidunt. Suspendisse potenti.
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </section>
        </v-content>

        <!-- *************************************************************************************************** -->
        <!-- *************************************************************************************************** -->

        <v-content>
          <svg
          data-v-14eabb7c=""
          width="1500"
          height="55"
          viewBox="0 0 1500 55"
          xmlns="http://www.w3.org/2000/svg"
          class="svg-top"
        >
          <title data-v-14eabb7c="">strip-7</title>
          <path
            data-v-14eabb7c=""
            d="M1215.676 28.653C1001.368 72.21 651.33 23.638 447.333 16.485 187.752 7.382 38.641 1.887 0 0h1500c-126.764 6.34-221.539 15.892-284.324 28.653z"
            fill="#FAFAFA"
            fill-rule="evenodd"
          ></path>
        </svg>

        <!-- *********************************************************************************************************** -->
        <!-- *********************************************************************************************************** -->

          <div class="cont" >
            <div class="mouse"></div>
            <div class="app" :class="`elevation-${hover ? 12 : 6}`" onloadstart="location.reload(true)">
              <div class="app__bgimg">
                <div class="app__bgimg-image app__bgimg-image--1"></div>
                <div class="app__bgimg-image app__bgimg-image--2"></div>
              </div>

              <div class="app__img" >
                <img
                  onmousedown="return false"
                  src="../assets/white.png"
                  alt="city"
                />
              </div>

              <div class="app__text app__text--1">
                <div class="app__text-line app__text-line--4">Unete</div>
                <div class="app__text-line app__text-line--3">Comparte</div>
                <div class="app__text-line app__text-line--2">Your Pet</div>
                <div class="app__text-line app__text-line--1">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/opus-attachment.png"
                    alt=""
                  />
                </div>
              </div>

              <div class="app__text app__text--2">
                <div class="app__text-line app__text-line--4">habitant</div>
                <div class="app__text-line app__text-line--3">ut eget</div>
                <div class="app__text-line app__text-line--2">Nam imperdiet</div>
                <div class="app__text-line app__text-line--1">
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/opus-attachment.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <div class="pages">
              <ul class="pages__list">
                <li
                  data-target="1"
                  class="pages__item pages__item--1 page__item-active"
                ></li>
                <li data-target="2" class="pages__item pages__item--2"></li>
              </ul>
            </div>
          </div>
        </v-content>


        <!-- <v-hover>
          <v-card
            slot-scope="{ hover }"
            :class="`elevation-${hover ? 16 : 8}`"
            class="mx-auto"
            width="100%"
          >
            <v-carousel>
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex  transition-fast-in-fast-out grey darken-4 v-card--reveal display-0 white--text"
                    style="height: 20%;"
                  >
                    <v-layout column align-top justify-top class="white--text">
                      <br />
                      <h1 class="white--text mb-2 display-1 text-xs-center">
                        <strong>VetClinic</strong>
                      </h1>
                      <div class="subheading mb-3 text-xs-center">
                        Your pet was never so happy!
                      </div>
                    </v-layout>
                  </div>
                </v-expand-transition>
              </v-carousel-item>
            </v-carousel>
          </v-card>
        </v-hover> -->

        <!-- *************************************************************************************************** -->
        <!-- *************************************************************************************************** -->

        <v-content>
          <section>
            <v-container grid-list-xl>
              <v-layout row wrap justify-center class="my-5">
                <v-flex xs12 sm4>
                  <v-card class="elevation-0 transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <h1>How to make them know you</h1>
                    </v-card-title>
                    <v-card-text>
                      Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                      volutpat tincidunt ornare. Pellentesque habitant morbi
                      tristique senectus et netus et malesuada fames ac turpis
                      egestas. Nullam in aliquet odio. Aliquam eu est vitae
                      tellus bibendum tincidunt. Suspendisse potenti.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 sm4 offset-sm1>
                  <v-card class="elevation-0 transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Contact us</div>
                    </v-card-title>
                    <v-card-text>
                      Cras facilisis mi vitae nunc lobortis pharetra. Nulla
                      volutpat tincidunt ornare.
                    </v-card-text>
                    <v-list class="transparent">
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="blue--text text--lighten-2"
                            >phone</v-icon
                          >
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>777-867-5309</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="blue--text text--lighten-2"
                            >place</v-icon
                          >
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title
                            >Villavicencio, COL</v-list-tile-title
                          >
                        </v-list-tile-content>
                      </v-list-tile>
                      <v-list-tile>
                        <v-list-tile-action>
                          <v-icon class="blue--text text--lighten-2"
                            >email</v-icon
                          >
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title
                            >VetClinic@prueba.com</v-list-tile-title
                          >
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </section>
        </v-content>

      </v-app>
    </div>
  </div>
</template>

<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->



<script>
export default {
  data() {
    return {

      currentSlide: 0,
      isPreviousSlide: false,
      isFirstLoad: true,
      icons: ["chevron-right"],
      slides: [
        {
          headlineFirstLine: "VetClinic",
          headlineSecondLine: "",
          sublineFirstLine: "Nihil sub sole",
          sublineSecondLine: "novum",
          bgImg:
            "https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          rectImg:
            "https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        },
        {
          headlineFirstLine: "Nulla",
          headlineSecondLine: "Auctor",
          sublineFirstLine: "Il n'y a rien de neuf sous",
          sublineSecondLine: "le soleil",
          bgImg: "https://i.postimg.cc/Qx34VNXM/slide1.jpg",
          rectImg: "https://i.postimg.cc/ryWZ8R2b/slide-rect1.jpg"
        },
        {
          headlineFirstLine: "Nullam",
          headlineSecondLine: "Ultricies",
          sublineFirstLine: "Τίποτα καινούργιο κάτω από",
          sublineSecondLine: "τον ήλιο",
          bgImg: "https://i.postimg.cc/t4RBtrnQ/slide2.jpg",
          rectImg: "https://i.postimg.cc/3JFLGMRF/slide-rect2.jpg"
        }
      ],
      items: [
        {
          src:
            "https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?cs=srgb&dl=adorable-animal-blur-406014.jpg&fm=jpg"
        },
        {
          src:
            "https://images.pexels.com/photos/134392/pexels-photo-134392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        },
        {
          src:
            "https://images.pexels.com/photos/62640/pexels-photo-62640.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        },
        {
          src:
            "https://images.pexels.com/photos/1805164/pexels-photo-1805164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        },
        {
          src:
            "https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        }
      ]
    };
  },

  mounted: function() {
    var productRotatorSlide = document.getElementById("app");
    var startX = 0;
    var endX = 0;

    productRotatorSlide.addEventListener(
      "touchstart",
      event => (startX = event.touches[0].pageX)
    );

    productRotatorSlide.addEventListener(
      "touchmove",
      event => (endX = event.touches[0].pageX)
    );

    productRotatorSlide.addEventListener(
      "touchend",
      function(event) {
        var threshold = startX - endX;

        if (threshold < 150 && 0 < this.currentSlide) {
          this.currentSlide--;
        }
        if (threshold > -150 && this.currentSlide < this.slides.length - 1) {
          this.currentSlide++;
        }
      }.bind(this)
    );
  },
  methods: {
    updateSlide(index) {
      index < this.currentSlide
        ? (this.isPreviousSlide = true)
        : (this.isPreviousSlide = false);
      this.currentSlide = index;
      this.isFirstLoad = false;
    }
  }
};

$(document).ready(function() {
  const $app = $(".app");
  const $img = $(".app__img");
  const $pageNav1 = $(".pages__item--1");
  const $pageNav2 = $(".pages__item--2");
  let animation = true;
  let curSlide = 1;
  let scrolledUp, nextSlide;

  let pagination = function(slide, target) {
    animation = true;
    if (target === undefined) {
      nextSlide = scrolledUp ? slide - 1 : slide + 1;
    } else {
      nextSlide = target;
    }

    $(".pages__item--" + nextSlide).addClass("page__item-active");
    $(".pages__item--" + slide).removeClass("page__item-active");

    $app.toggleClass("active");
    setTimeout(function() {
      animation = false;
    }, 1000);
  };
  //
  // let navigateDown = function () {
  //   if (curSlide > 1) return;
  //   scrolledUp = false;
  //   pagination(curSlide);
  //   curSlide++;
  // };
  //
  // let navigateUp = function () {
  //   if (curSlide === 1) return;
  //   scrolledUp = true;
  //   pagination(curSlide);
  //   curSlide--;
  // };

  setTimeout(function() {
    $app.addClass("initial");
  }, 500);

  setTimeout(function() {
    animation = false;
  }, 1000);

  $(document).on("mousewheel DOMMouseScroll", function(e) {
    var delta = e.originalEvent.wheelDelta;
    if (animation) return;
    if (delta > 0 || e.originalEvent.detail < 0) {
      navigateUp();
    } else {
      navigateDown();
    }
  });

  $(document).on("click", ".pages__item:not(.page__item-active)", function() {
    if (animation) return;
    let target = +$(this).attr("data-target");
    pagination(curSlide, target);
    curSlide = target;
  });
});

</script>





<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->

<style lang="stylus">
#example-custom-transition
  .fade
    &-enter-active, &-leave-active, &-leave-to
      transition: .3s ease-out
      position: absolute
      top: 0
      left: 0

    &-enter, &-leave, &-leave-to
      opacity: 0
</style>
<style  scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.7;
  width: 100%;
}

.slide-content-cta, .slide-side-text, .controls-button {
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.12rem;
  font-size: 0.7rem;
  line-height: 1;
}

[v-cloak] {
  opacity: 0;
}

body {
  cursor: default;
}
body ::-moz-selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}
body ::selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}
body ::-moz-selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}

.wrapper {
  height: calc(96vh - 50px);
  min-height: 36rem;
  position: relative;
}
@media (max-width: 600px) {
  .wrapper {
    height: 90vh;
    min-height: 0;
  }
}
/* ancho y alto del fondo de imagen */
.slide-wrapper {
  background-size: cover;
  height: 100%;
  background-position: center center;
  position: absolute;
  width: 100%;
  background-blend-mode: darken;
}
.slide-wrapper:nth-child(1) {
  background-color: rgba(115, 129, 153, 0.4);
}
.slide-wrapper:nth-child(1):before {
  background-color: rgba(115, 129, 153, 0.25);
}
.slide-wrapper:nth-child(1) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
}
.slide-wrapper:nth-child(2) {
  background-color: rgba(144, 171, 184, 0.7);
}
.slide-wrapper:nth-child(2):before {
  background-color: rgba(144, 171, 184, 0.3);
}
.slide-wrapper:nth-child(2) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
}
.slide-wrapper:nth-child(3) {
  background-color: rgba(86, 125, 156, 0.5);
}
.slide-wrapper:nth-child(3):before {
  background-color: rgba(86, 125, 156, 0.2);
}
.slide-wrapper:nth-child(3) .slide-content-text {
  text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
}
.slide-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slide-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}
.slide-bg-text {
  font-family: "Playfair Display";
  color: #000;
  font-size: 42vh;
  line-height: 0.8;
  opacity: 0.03;
  font-weight: 900;
  margin-top: -4rem;
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slide-bg-text > p:last-child {
  padding-left: 4rem;
}
/* color de letra titulo */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.slide-content {
  color: #fff;
  margin-top: 5rem;
  position: absolute;
  top: 50%;
  left: calc(13vw + (0.7) * 48vh);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .slide-content {
    left: calc(13vw + 1rem);
  }
}
@media (max-height: 730px) {
  .slide-content {
    top: 30%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    left: calc(9vw + (0.7) * 16vw);
  }
}
.slide-content-text {
  font-family: "Playfair Display";
  font-size: 9rem;
  letter-spacing: 0.2rem;
  line-height: 0.87;
  font-weight: 700;
  will-change: auto;
}
@media (max-height: 790px) {
  .slide-content-text {
    font-size: 7rem;
  }
}
@media (max-width: 1150px) {
  .slide-content-text {
    font-size: 7rem;
  }
}
@media (max-width: 840px) {
  .slide-content-text {
    font-size: 5.5rem;
  }
}
@media (max-width: 630px) {
  .slide-content-text {
    margin-bottom: 5.5rem;
  }
}
@media (max-width: 500px) {
  .slide-content-text {
    font-size: 3.5rem;
  }
}
.slide-content-text > p:last-child {
  padding-left: 3rem;
}
.slide-content-cta {
  cursor: pointer;
  align-self: flex-start;
  margin-top: 4.5rem;
  margin-left: calc((0.3) * 48vh + 4.5rem);
  padding: 0.9rem 2.2rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.18s ease-in-out;
  font-weight: 700;
}
@media (max-width: 1000px) {
  .slide-content-cta {
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
@media (max-width: 630px) {
  .slide-content-cta {
    display: none;
  }
}
/* Color de fondo del boton */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.slide-content-cta:hover {
  color: #000;
  background-color: rgb(59, 62, 59, 0.4);
}
.slide-rect {
  height: 62vh;
  width: 48vh;
  border-image-slice: 10%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 13vw;
  border-width: 5vh;
  border-style: solid;
  box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
  will-change: auto;
}
@media (max-height: 790px) {
  .slide-rect {
    left: 9vw;
    height: 20vw;
    width: 16vw;
    border-width: 5vh;
  }
}
@media (max-height: 730px) {
  .slide-rect {
    top: 30%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}
.slide-rect-filter {
  -webkit-filter: brightness(110%) contrast(110%) saturate(110%);
          filter: brightness(110%) contrast(110%) saturate(110%);
}
.slide-side-text {
  position: absolute;
  left: calc(13vw - 3rem);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  top: calc((50% - (62vh / 2)) + (5vh / 2));
}
@media (max-height: 790px) {
  .slide-side-text {
    left: calc(9vw - 3rem);
    top: calc( (50% - (20vw / 2)) + (5vh / 2) );
  }
}
@media (max-height: 730px) {
  .slide-side-text {
    top: calc( (40% - (20vw / 2)) + (5vh / 2) );
  }
}
.slide-side-text > span:first-child {
  font-weight: 700;
}
.slide-side-text:after {
  content: "";
  width: 1px;
  background-color: #fff;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.controls-container {
  position: absolute;
  z-index: 200;
  display: flex;
  bottom: 0;
  right: 0;
  align-items: flex-end;
}
@media (max-width: 630px) {
  .controls-container {
    display: none;
  }
}
.controls-button {
  cursor: pointer;
  background-color: rgba(208, 206, 204, 0.32);
  border: 0;
  padding: 1.6rem 2.2rem;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 15rem;
  transition: 0.25s ease-in-out;
  outline: 0;
}
@media (max-width: 730px) {
  .controls-button {
    padding: 1.2rem 1.4rem;
    min-width: 13rem;
  }
}
.controls-button:not(.active):hover {
  color: #000;
  background-color: #fff;
}
.controls-button.active {
  cursor: default;
  font-weight: 700;
  background-color: #3b3e45;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  margin-bottom: -0.3rem;
  position: relative;
}
@media (max-width: 730px) {
  .controls-button.active {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-bottom: -0.15rem;
  }
}
.controls-button.active:after {
  content: "";
  background-color: #e3e3e3;
  height: 5px;
  width: calc(100% - 8px);
  position: absolute;
  top: 100%;
  left: 4px;
}
.controls-button:not(.active) + .controls-button {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-container {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 920px) {
  .pagination-container {
    display: none;
  }
}
.pagination-item {
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.18s ease-in-out;
}
.pagination-item + .pagination-item {
  margin-top: 1rem;
}
.pagination-item.active {
  background-color: #fff;
  position: relative;
  -webkit-transform: translateX(-0.6rem);
          transform: translateX(-0.6rem);
  width: 35px;
}
.pagination-item.active:after {
  content: "";
  height: 4px;
  width: 2px;
  border-radius: 35%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(0.6rem) translateY(-50%);
          transform: translateX(0.6rem) translateY(-50%);
}
.pagination-item:not(.active) {
  cursor: pointer;
}
.pagination-item:not(.active):hover {
  background-color: #fff;
  width: 35px;
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}
@-webkit-keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}
@keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}
@-webkit-keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}
@keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}
@-webkit-keyframes rectMovement {
  0% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}
@keyframes rectMovement {
  0% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovement {
    0% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
  @keyframes rectMovement {
    0% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
}
@-webkit-keyframes rectMovementFromRight {
  0% {
    -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@keyframes rectMovementFromRight {
  0% {
    -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovementFromRight {
    0% {
      -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementFromRight {
    0% {
      -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}
@-webkit-keyframes rectMovementRight {
  0% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@keyframes rectMovementRight {
  0% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}
@media (max-height: 730px) {
  @-webkit-keyframes rectMovementRight {
    0% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementRight {
    0% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide-wrapper {
  opacity: 0;
  transition-delay: 1.4s;
  transition-duration: 0s;
  transition-property: opacity;
  will-change: opacity, transform;
}
.slide-wrapper:not(.active) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
  pointer-events: none;
}
.slide-wrapper:not(.active) .slide-content-text > p,
.slide-wrapper:not(.active) .slide-side-text {
  -webkit-animation-name: cutTextUp;
          animation-name: cutTextUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.slide-wrapper:not(.active) .slide-rect {
  -webkit-animation-name: rectMovement;
          animation-name: rectMovement;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-wrapper.active {
  transition-delay: 0s;
  opacity: 1;
}
.slide-wrapper.active .slide-content-text > p {
  opacity: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-name: cutTextDown;
          animation-name: cutTextDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementFromRight;
          animation-name: rectMovementFromRight;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.is-previous .slide-wrapper:not(.active) {
  -webkit-animation: none;
          animation: none;
}
.is-previous .slide-wrapper:not(.active) .slide-rect {
  -webkit-animation: none;
          animation: none;
}
.is-previous .slide-wrapper.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
}
.is-previous .slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementRight;
          animation-name: rectMovementRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.first-load .slide-wrapper.active .slide-side-text,
.first-load .slide-wrapper.active .slide-content-cta,
.first-load .slide-wrapper.active .slide-rect,
.first-load .controls-container {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
.first-load .slide-wrapper.active .slide-content-text > p {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

</style>
