<template>
  <div id="app">
    <!-- <v-app> -->
    <v-flex xs12>
      <v-container grid-list-xl>
        <v-layout row wrap justify-center>
          <v-flex xs12 sm10 md8 lg6>
            <v-card>
              <v-card-text>
                <div class="Loginv2-container">
                  <div class="Buttons-SocialMedia">
                    <v-btn class="b-facebook" color="#3b5998" dark>
                      <span class="fab fa-facebook-f"></span>
                      <span>Inicia sesión con Facebook</span>
                    </v-btn>
                    <v-btn class="b-Twitter" color="#1DA1F2" dark>
                      <span class="fab fa-twitter"></span>
                      <span>Inicia sesión con Twitter</span>
                    </v-btn>
                  </div>

                  <div class="LoginDivider">
                    <span class="LoginDivider-text">
                      <span>o</span>
                    </span>
                  </div>

                  <v-form method="post" @submit.prevent="comparar">
                    <!-- <input
                        type="hidden"
                        name="csrfmiddlewaretoken"
                        value="GCribgfVcEKbGfdAepOxc1TCKqj3J7bzgPjjmxdmUhRiVN40yfPu5VoY75imlUkw"
                      />
                      <div class="FormInput ">
                        <input
                          type="email"
                          v-model="email"
                          v-validate="'required|email'"
                          :error-messages="errors.collect('email')"
                          name="email"
                          required=""
                          autocomplete="off"
                          placeholder="Tu email"
                          class="FormInput-field"
                          value=""
                        /><label class="FormInput-label"
                          ><span>Tu email</span></label
                        >
                        <p class="FormInput-error"></p>
                      </div>
                      <div class="FormInput ">
                        <input
                          type="password"
                          v-model="password"
                          name="password"
                          :rules="[rules.required, rules.min]"
                          required=""
                          autocomplete="off"
                          placeholder="Tu contraseña"
                          class="FormInput-field"
                          value=""
                        /><label class="FormInput-label"
                          ><span>Tu contraseña</span></label
                        >
                        <p class="FormInput-error"></p>
                      </div> -->
                    <v-text-field
                      name="email"
                      v-model="email"
                      v-validate="'required|email'"
                      :error-messages="errors.collect('email')"
                      color="cyan darken"
                      label="E-mail"
                      data-vv-name="email"
                      required
                      outline
                      clearable
                    ></v-text-field>

                    <v-text-field
                      name="password"
                      v-model="password"
                      :rules="[rules.required, rules.min]"
                      color="cyan darken"
                      type="password"
                      label="Password"
                      required
                      outline
                      clearable
                    ></v-text-field>

                    <v-btn type="submit" class="btn-Green btn--md">
                      <span>Inicia sesión</span>
                    </v-btn>
                    <div class="LoginWithEmail-lostpassword">
                      <a href="/forgot/"
                        ><span>¿Olvidaste tu contraseña?</span></a
                      >
                    </div>
                  </v-form>
                </div>
              </v-card-text>
              <div class="AccountFooter" data-reactid="33">
                <div class="AccountFooter-create" data-reactid="34">
                  <span data-reactid="35">¿Aún no tienes cuenta?</span>
                </div>
                <div class="AccountFooter-link" data-reactid="36">
                  <a href="/signup/" class="AccountFooter-btn" data-reactid="37"
                    ><span data-reactid="38">Regístrate</span></a
                  >
                </div>
              </div>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <!-- </v-app> -->
  </div>
</template>

<script>
export default {
  $_veeValidate: {
    validator: "new"
  },

  data() {
    return {
      show1: false,
      show2: true,
      showloader: false,
      students: [],
      sa: 0,
      //nombre: "vacio",
      snackbar: false,
      color: "",
      mode: "",
      timeout: 6000,
      y: "top",
      x: "right",

      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "At least 8 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  methods: {
    comparar() {
      let config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      };
      let params = new FormData();
      params.append("email", this.email);
      params.append("password", this.password);
      axios
        .post("http://localhost/api/api.php?action=login", params, config)
        .then(res => {
          this.students = res.data.students;

          if (
            this.email == this.students[0].email &&
            this.password == this.students[0].password
          ) {
            document.cookie =
              "iduser = " + this.students[0].idusuarios + ";" + "path=/";
            // this.snackbar = true;
            // this.color='cyan darken-2';
            // this.text = "Bienvendio, " + this.students[0].nombre;
            // document.cookie="iduser = " + this.students[0].id + ";" + "path=/";
            this.ruta();
          }
        });
    },
    ruta() {
      // this.$router.push({ name: "index" });
      window.location = "/";
    }
  }
};
</script>

<style scoped>
.Buttons-SocialMedia {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  height: 10%;
}
.fa-facebook-f,
.fa-twitter {
  margin-right: 15px;
  /* width: 100%; */
}
@media (max-width: 450px) and (min-width: 320px) {
  .container {
    width: 100%;
  }
}

.LoginDivider-text::before {
  content: "";
  position: absolute;
  top: 53%;
  right: 100%;
  width: 1000px;
  border-bottom: 1.5px solid #757575;
}
.LoginDivider-text:after {
  content: "";
  position: absolute;
  top: 53%;
  left: 100%;
  width: 5000px;
  border-bottom: 1.5px solid #757575;
}
.LoginDivider-text {
  position: relative;
  font-family: "cooper_hewittmedium";
  padding: 12px;
  font-weight: 600;
  color: #1c3643;
  font-size: 20px;
}
.LoginDivider {
  text-align: center;
  overflow: hidden;
  margin: 1rem auto;
  width: 94%;
}

.container {
  text-align: center;
}
form {
  display: block;
  margin-top: 0em;
}
input[type="hidden" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}
input[type="hidden" i] {
  display: none;
}
input {
  padding: 1px 0px;
}
input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
}
input {
  padding: 1px 0px;
}
.FormInput {
  position: relative;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.FormInput-field {
  border: 1px solid #c9c9c9;
  padding: 20px 12px;
  font-size: 1rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-transition: 0.2s border-color;
  -moz-transition: 0.2s border-color;
  -o-transition: 0.2s border-color;
  -ms-transition: 0.2s border-color;
  transition: 0.2s border-color;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #7b7b7f;
}
.FormInput-label {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-filter: alpha(opacity=0);
  -moz-filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s opacity;
  -moz-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  -ms-transition: 0.2s opacity;
  transition: 0.2s opacity;
  z-index: -1;
}
label {
  cursor: default;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.FormInput-error {
  margin-left: 0.75rem;
  color: #ff4842;
  font-size: 12px;
  line-height: 1.33;
  min-height: 1rem;
}
.LoginWithEmail .FormInput-error {
  text-align: left;
}
input[type="password" i] {
  -webkit-text-security: disc !important;
}
.FormInput-field.filled:not(.error) ~ .FormInput-label,
.FormInput-field:focus:not(.error) ~ .FormInput-label,
.FormInput-field:valid:not(.is-select):not(.error) ~ .FormInput-label,
.FormInput-field:valid:not(.isUrl):not(.error) ~ .FormInput-label {
  font-size: 12px;
  line-height: 1.33;
  z-index: 1;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  color: #0a8ecd;
  left: 0.75rem;
  top: 0.25rem;
}
.FormInput-field.filled:not(.error),
.FormInput-field:focus:not(.error),
.FormInput-field:valid:not(.is-select):not(.error),
.FormInput-field:valid:not(.isUrl):not(.error) {
  color: #1c3643;
  border-color: #0a8ecd;
  padding: 26px 12px 14px 12px;
}
input:focus {
  outline-offset: -2px;
}
.btn-Green,
.btn-green {
  background: -webkit-linear-gradient(
    right,
    #95ca3e 0%,
    #95ca3e 50%,
    #85c638 100%
  );
  background: -moz-linear-gradient(
    right,
    #95ca3e 0%,
    #95ca3e 50%,
    #85c638 100%
  );
  background: -o-linear-gradient(right, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  background: -ms-linear-gradient(right, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  background: linear-gradient(to left, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  -webkit-box-shadow: 0 1px 1px 0 #58902d;
  box-shadow: 0 1px 1px 0 #58902d;
  margin-left: 0;
}
.btn--medium,
.btn--md {
  font-size: 1rem;
  padding: 9px 0.8em 10px 0.8em;
}
.btn,
.btn-Green,
.btn-green {
  background-color: #d3d3d3;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 8px 0.8em 6px 0.8em;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
.btn--medium,
.btn--md {
  font-size: 1rem;
  padding: 9px 0.8em 10px 0.8em;
}
.LoginWithEmail button {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-weight: bold;
}
.LoginWithEmail button {
  display: block;
  width: 100%;
  padding: 14px 0;
  font-weight: bold;
}
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 400 13.3333px Arial;
  width: 100%;
  text-align: center;
}
button {
  -webkit-writing-mode: horizontal-tb !important;
}
.LoginWithEmail-lostpassword {
  margin-top: 16px;
}
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.AccountFooter-create {
  margin-bottom: 16px;
}
/* @media only screen and (min-width: 64em) .AccountFooter {
  padding: 24px 32px;
}
@media only screen and (min-width: 48em) .AccountFooter {
  padding: 24px 42px;
} */
.AccountFooter {
  padding: 24px 10px;
  margin-top: 24px;
  background-color: #f3f3f6;
}
.AccountFooter-create span {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.37;
  color: #3a3c3f;
}
.AccountFooter-btn {
  display: block;
  font-size: 16px;
  padding: 12px 0.8em 12px 0.8em;
  font-size: 1rem;
  border: 1.5px solid #0791e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #0791e6;
  cursor: pointer;
  outline: none;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
}
.btn-Green {
  height: 45px;
}
.v-btn.theme--light .v-btn__content span {
  font-size: 16px;
}
.v-card__text {
  padding-left: 35px;
  padding-right: 35px;
}
.FormInput-field.error,
.FormInput-field.error:focus {
  color: #1c3643;
  border-color: #ff4842;
  padding: 26px 12px 14px 12px;
}
.FormInput-field.error ~ .FormInput-label,
.FormInput-field.error:focus ~ .FormInput-label {
  font-size: 12px;
  line-height: 1.33;
  z-index: 1;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  color: #ff4842;
  left: 0.75rem;
  top: 0.25rem;
}
.FormInput-error {
  margin-left: 0.75rem;
  color: #ff4842;
  font-size: 12px;
  line-height: 1.33;
  min-height: 1rem;
}
a {
  color: #0a8ecd;
}
/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */
</style>
