<template lang="html">
  <div id="app">
    <v-app>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <!-- *********************************************************************************************************** -->
            <!-- *********************************************************************************************************** -->

            <v-flex  xl4 xs4 md4 lg4 v-for="noticia in noticias">
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 12 : 2}`"
                  class="mx-auto"
                  width="344"
                >
                  <v-img
                    src="https://images.typeform.com/images/Dt8xXcATgXML/image/default"
                  ></v-img>
                  <v-card-title>
                    <div>
                      <span class="headline">{{ noticia.nombre }}</span>
                      <div class="d-flex">
                        <p id="Descrption">
                          <br />
                          {{ noticia.descripcion }}
                        </p>
                      </div>
                    </div>
                    <v-spacer></v-spacer>
                    <v-tooltip left>
                      <template v-slot:activator="{ on }">
                        <v-btn icon class="mr-0" v-on="on">
                          <v-icon>as fa-chevron-right</v-icon>
                        </v-btn>
                      </template>
                      <span>Veer Mas</span>
                    </v-tooltip>
                  </v-card-title>
                </v-card>
              </v-hover>
            </v-flex>

            <!-- *********************************************************************************************************** -->
            <!-- *********************************************************************************************************** -->

            <!-- <v-flex xs12 md4>
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 12 : 2}`"
                  class="mx-auto"
                  width="344"
                >
                  <v-img
                    src="https://images.typeform.com/images/Dt8xXcATgXML/image/default"
                  ></v-img>
                  <v-card-title  >
                    <div>
                      <span class="headline"
                        >Guia para viajar con tu mascota en Avion!</span
                      >
                      <div class="d-flex">
                        <p id="Descrption">
                          <br />
                          Antes viajar en avión significaba despedirnos con dolor de
                          nuestra mascota, pero gracias al creciente número de
                          hoteles y aerolíneas que admiten mascotas, cada vez más
                          personas se llevan a sus amigos cuando vuelan.
                        </p>
                      </div>
                    </div>
                    <v-spacer></v-spacer>
                    <v-tooltip left>
                      <template v-slot:activator="{ on }">
                        <v-btn icon class="mr-0"  v-on="on">
                          <v-icon>as fa-chevron-right</v-icon>
                        </v-btn>
                      </template>
                      <span>Ver Mas</span>
                    </v-tooltip>
                  </v-card-title>
                </v-card>
              </v-hover>
            </v-flex> -->

            <!-- *********************************************************************************************************** -->
            <!-- *********************************************************************************************************** -->

            <!-- <v-flex xs12 md4>
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 12 : 2}`"
                  class="mx-auto"
                  width="344"
                >
                  <v-img
                    src="https://images.typeform.com/images/Dt8xXcATgXML/image/default"
                  ></v-img>
                  <v-card-title>
                    <div>
                      <span class="headline"
                        >Guia para viajar con tu mascota en Avion!</span
                      >
                      <div class="d-flex">
                        <p id="Descrption">
                          <br />
                          Antes viajar en avión significaba despedirnos con dolor de
                          nuestra mascota, pero gracias al creciente número de
                          hoteles y aerolíneas que admiten mascotas, cada vez más
                          personas se llevan a sus amigos cuando vuelan.
                        </p>
                      </div>
                    </div>
                    <v-spacer></v-spacer>
                    <v-tooltip left>
                      <template v-slot:activator="{ on }">
                        <v-btn icon class="mr-0"  v-on="on">
                          <v-icon>as fa-chevron-right</v-icon>
                        </v-btn>
                      </template>
                      <span>Ver Mas</span>
                    </v-tooltip>
                  </v-card-title>
                </v-card>
              </v-hover>
            </v-flex> -->

            <!-- *********************************************************************************************************** -->
            <!-- *********************************************************************************************************** -->
          </v-layout>
        </v-container>
      </v-flex>
    </v-app>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mensaje: "hola",
      successMessage: "",
      noticias: [],
      activeStudent: {}
    };
  },
  mounted() {
    this.getAllnoticias();
  },
  methods: {
    setMessages(res) {
      if (res.data.error) {
        this.errorMessage = res.data.message;
      } else {
        this.successMessage = res.data.message;
        this.getAllnoticias();
      }
      setTimeout(() => {
        this.errorMessage = false;
        this.successMessage = false;
      }, 2000);
    },
    getAllnoticias() {
      axios
        .get("http://localhost/api/api.php?action=read")
        .then(res => {
          // this.toggleModal('add')
          this.setMessages(res);
          this.noticias = res.data.noticias;
          // if (this.email != "" && this.password != "") {
          //   if (this.email=students.email && this.password=students.password ) {
          //     this.$router.push({ name: "index" });
          //     this.$refs.myModalRef.hide();
          //   }
          // }
        })
        .catch(error => {
          console.console(error);
        });
    }
  }
};
</script>

<style lang="css" scoped></style>
