<template>
  <div>
    <br />
    <br />
    <v-app id="app">
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap align-center>
            <v-flex xs12 md4 v-for="veterinaria in veterinarias">
            <v-hover>
              <v-card
                slot-scope="{ hover }"
                :class="`elevation-${hover ? 12 : 2}`"
                class="mx-auto"
                width="344"
              >
                <v-img
                  :aspect-ratio="16 / 9"
                  :src="veterinaria.imaperfil"
                ></v-img>
                <v-card-title>
                  <div>
                    <span class="headline">{{veterinaria.nombre}}</span>
                    <div class="d-flex">
                      <v-rating
                        :value="veterinaria.puntos"
                        color="amber"
                        dense
                        half-increments
                        readonly
                        size="14"
                      ></v-rating>
                      <div class="ml-2 grey--text text--darken-2">
                        <span>{{ veterinaria.puntos }}</span>
                        <span>({{ veterinaria.calificaciones }})</span>
                      </div>
                    </div>
                  </div>
                  <v-spacer></v-spacer>
                  <v-btn icon class="mr-0">
                    <v-icon>as fa-chevron-right</v-icon>
                  </v-btn>
                </v-card-title>
              </v-card>
            </v-hover>
            </v-flex>

          </v-layout>
        </v-container>
      </v-flex>
    </v-app>
  </div>
</template>

<script>
export default {
  data() {
    return {
      veterinarias: [],
      reviews: 200,
      value:[]
    };
  },
  mounted() {
    this.getAllVeterinarias();
  },
  methods: {
    setMessages(res) {
      if (res.data.error) {
        this.errorMessage = res.data.message;
      } else {
        this.successMessage = res.data.message;
        this.getAllVeterinarias();
      }
      setTimeout(() => {
        this.errorMessage = false;
        this.successMessage = false;
      }, 2000);
    },
    getAllVeterinarias() {
      axios.get("http://localhost/api/api2.php?action=read").then(res => {
        // this.toggleModal('add')
        this.setMessages(res);
        this.veterinarias = res.data.veterinarias;
        this.value=this.veterinarias.puntos;
        console.log(this.veterinarias);
        // if (this.email != "" && this.password != "") {
        //   if (this.email=students.email && this.password=students.password ) {
        //     this.$router.push({ name: "index" });
        //     this.$refs.myModalRef.hide();
        //   }
        // }
      });
    }
  }
};
</script>

<style ></style>
