<template>
  <div id="app">
    <v-app>
      <v-flex xs12>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center>
            <v-flex xs12 md8>
              <v-card>
                <v-form
                  ref="form"
                  v-model="valid"
                  lazy-validation
                  @submit.prevent="createStudent"
                >
                  <v-card-text>
                    <div class="RegisterText">
                      <span
                        >Regístrate con
                        <a href="/login/facebook/">Facebook</a> o
                        <a href="/login/twitter/">Twitter</a></span
                      >
                    </div>

                    <div class="LoginDivider" data-reactid="14">
                      <span class="LoginDivider-text" data-reactid="15"
                        ><span data-reactid="16">o</span></span
                      >
                    </div>

                    <v-text-field
                      name="nombre"
                      v-model="nombre"
                      v-validate="'required|max:20'"
                      :counter="10"
                      :error-messages="errors.collect('name')"
                      label="Name"
                      data-vv-name="name"
                      required
                      outline
                      clearable
                    ></v-text-field>

                    <v-text-field
                      name="email"
                      v-model="email"
                      v-validate="'required|email'"
                      :error-messages="errors.collect('email')"
                      label="E-mail"
                      data-vv-name="email"
                      required
                      outline
                      clearable
                    ></v-text-field>

                    <v-text-field
                      name="password"
                      v-model="password"
                      :append-icon="show1 ? 'visibility' : 'visibility_off'"
                      :rules="[rules.required, rules.min]"
                      :type="show1 ? 'text' : 'password'"
                      label="Password"
                      required
                      @click:append="show1 = !show1"
                      outline
                      clearable
                    ></v-text-field>

                    <v-text-field
                      namr="password2"
                      v-model="password2"
                      :append-icon="show3 ? 'visibility' : 'visibility_off'"
                      :rules="[rules.required, rules.min]"
                      :type="show3 ? 'text' : 'password'"
                      label="Repeat Password"
                      required
                      @click:append="show3 = !show3"
                      outline
                      clearable
                    ></v-text-field>

                    <v-checkbox color="green" required>
                      <template v-slot:label>
                        <div @click.stop="">
                          Acepto
                          <a href="javascript:;" @click.stop="terms = true"
                            >Términos de Servicio</a
                          >
                          y
                          <a href="javascript:;" @click.stop="conditions = true"
                            >Política de Privacidad</a
                          >
                        </div>
                      </template>
                    </v-checkbox>

                    <v-spacer></v-spacer>
                    <v-dialog v-model="terms" width="70%">
                      <v-card>
                        <v-card-title class="title">Terms</v-card-title>
                        <v-card-text v-for="n in 5" :key="n">
                          {{ content }}
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn flat color="purple" @click="terms = false"
                            >Ok</v-btn
                          >
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-dialog v-model="conditions" width="70%">
                      <v-card>
                        <v-card-title class="title">Conditions</v-card-title>
                        <v-card-text v-for="n in 5" :key="n">
                          {{ content }}
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn flat color="purple" @click="conditions = false"
                            >Ok</v-btn
                          >
                        </v-card-actions>
                      </v-card>
                    </v-dialog>

                    <v-btn type="submit" class="btn-Green btn--md">
                      <span>Crear mi cuenta</span>
                    </v-btn>
                  </v-card-text>
                </v-form>

                <div class="AccountFooter" data-reactid="33">
                  <div class="AccountFooter-create" data-reactid="34">
                    <span data-reactid="35">¿Ya tienes cuenta?</span>
                  </div>
                  <div class="AccountFooter-link" data-reactid="36">
                    <a
                      href="/login/"
                      class="AccountFooter-btn"
                      data-reactid="37"
                      ><span data-reactid="38">Inicia tu sesión</span></a
                    >
                  </div>
                </div>

                <v-snackbar
                  v-model="snackbar"
                  :color="color"
                  :timeout="timeout"
                  :top="y === 'top'"
                  :multi-line="mode === 'multi-line'"
                  :vertical="mode === 'vertical'"
                >
                  {{ text }}
                  <v-btn dark flat @click="snackbar = false">
                    Close
                  </v-btn>
                </v-snackbar>

              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-app>
  </div>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    name: "",
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 20) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    select: null,
    items: ["Item 1", "Item 2", "Item 3", "Item 4"]
  }),

  data() {
    const defaultForm = Object.freeze({
      terms: false
    });
    return {
      show1: false,
      show2: true,
      show3: false,

      emails: "",
      valido: 0,

      snackbar: false,
      color: "",
      mode: "",
      timeout: 6000,
      y: "top",

      students: [],
      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "Min 8",
        emailMatch: () => "The email and password you entered don't match"
      },
      form: Object.assign({}, defaultForm),
      conditions: false,
      content: `pala Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.`,
      snackbar: false,
      terms: false,
      defaultForm
    };
  },
  methods: {
    reset() {
      this.$refs.form.reset();
    },
    validate() {
      if (this.$refs.form.validate()) {
      }
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },

    validacion() {
      this.valido = 0;
      if (this.nombre == "" || this.nombre == undefined) {
        this.valido = 1;
      }
      if (this.email == "" || this.email == undefined) {
        this.valido = 1;
      }
      if (this.password == "" || this.password == undefined) {
        this.valido = 1;
      }
      if (this.password2 == "" || this.password2 == undefined) {
        this.valido = 1;
      }
      //   if ( this.name.length > 0 && this.email.length > 0 && this.password.length > 0 && this.password2.length > 0 ) {
      //     this.valido=0;
      // }
    },
    createStudent(e) {
      this.validacion();
      console.log(this.valido);
      if (this.valido == 0) {
        console.log("entre");
        let config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          }
        };
        let params = new FormData();
        params.append("email", this.email);
        // params.append("password", this.password);
        axios
          .post("http://localhost/api/api.php?action=buscar", params, config)
          .then(res => {
            this.students = res.data.students;
            if (this.students.length == 0) {
              axios
                .post(
                  "http://localhost/api/api.php?action=create",
                  new FormData(e.target)
                )
                .then(res => {
                  this.toggleModal("add");
                  this.setMessages(res);
                });
              this.reset();
              Swal.fire({
                position: "center",
                type: "success",
                title: "Usuario Registrado Con Existo",
                showConfirmButton: false,
                timer: 1800
              });
            } else {
              Swal.fire({
                type: "error",
                title: "El Usuario Ya Existe"
              });
            }
          });
      } else {
        this.snackbar = true;
        this.text = "Complete all the fields ";
        this.color = "cyan darken-2";
      }
    },
    getStudent(action, student) {
      this.toggleModal(action);
      this.activeStudent = student;
    }
  }
};
</script>

<style scoped>
.container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  height: 10%;
}
.RegisterText {
    padding: 16px 0px 0px 0px;
    text-align: center;
    color: #3a3c3f;
}
.RegisterText a {
    color: #0a8ecd;
    text-decoration: none;
    font-weight: bold;
}
a {
    color: #0a8ecd;
}
.registerV2 {
    text-align: center;
}
.register-v2 {
    margin: 0;
    text-align: center;
}
.LoginDivider {
    text-align: center;
    overflow: hidden;
    margin: 1rem auto;
    width: 94%;
}
.LoginDivider-text {
    position: relative;
    font-family: 'cooper_hewittmedium';
    padding: 12px;
    font-weight: 600;
    color: #1c3643;
    font-size: 20px;
}
.LoginDivider-text:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 5000px;
    border-bottom: 2px solid #757575;
}
.LoginDivider-text:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 5000px;
    border-bottom: 2px solid #757575;
}
.btn-Green,
.btn-green {
  background: -webkit-linear-gradient(
    right,
    #95ca3e 0%,
    #95ca3e 50%,
    #85c638 100%
  );
  background: -moz-linear-gradient(
    right,
    #95ca3e 0%,
    #95ca3e 50%,
    #85c638 100%
  );
  background: -o-linear-gradient(right, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  background: -ms-linear-gradient(right, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  background: linear-gradient(to left, #95ca3e 0%, #95ca3e 50%, #85c638 100%);
  -webkit-box-shadow: 0 1px 1px 0 #58902d;
  box-shadow: 0 1px 1px 0 #58902d;
  margin-left: 0;
}
.btn-Green {
  height: 45px;
}
.btn--medium,
.btn--md {
  font-size: 1rem;
  padding: 9px 0.8em 10px 0.8em;
}
.btn,
.btn-Green,
.btn-green {
  background-color: #d3d3d3;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding: 8px 0.8em 6px 0.8em;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
.btn--medium,
.btn--md {
  font-size: 1rem;
  padding: 9px 0.8em 10px 0.8em;
}
button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 400 13.3333px Arial;
  width: 100%;
  text-align: center;
}
button {
  -webkit-writing-mode: horizontal-tb !important;
}
.LoginWithEmail-lostpassword {
  margin-top: 16px;
}
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}
.AccountFooter-create {
  margin-bottom: 16px;
}
/* @media only screen and (min-width: 64em) .AccountFooter {
  padding: 24px 32px;
}
@media only screen and (min-width: 48em) .AccountFooter {
  padding: 24px 42px;
} */
.AccountFooter {
  padding: 24px 10px;
  margin-top: 24px;
  background-color: #f3f3f6;
  text-align: center;
}
.AccountFooter-create span {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.37;
  color: #3a3c3f;
}
.AccountFooter-btn {
  display: block;
  font-size: 16px;
  padding: 12px 0.8em 12px 0.8em;
  font-size: 1rem;
  border: 1.5px solid #0791e6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #0791e6;
  cursor: pointer;
  outline: none;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
}

</style>
