<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand class="Logo"
        ><span class="icon-Logo">VetClinic</span></b-navbar-brand
      >

      <b-navbar-toggle target="nav_collapse" />

      <b-collapse is-nav id="nav_collapse">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="{ name: 'index' }">Home</b-nav-item>
          <b-nav-item :to="{ name: 'service' }">Services</b-nav-item>
          <b-nav-item>News</b-nav-item>
          <b-nav-item :to="{ name: 'contact' }">Contact</b-nav-item>

          <b-nav-item :to="{ name: 'SignUp' }" v-if="!mostrar">
            <span class="glyphicon glyphicon-user"></span> Sign Up</b-nav-item
          >
          <b-nav-item :to="{ name: 'Login' }" v-if="!mostrar"
            ><span class="glyphicon glyphicon-log-in"></span> Login</b-nav-item
          >
          <b-nav-item-dropdown v-if="mostrar" right>
            <template slot="button-content" class="glyphicon glyphicon-user"
              ><em>{{ this.students[0].nombre }}</em></template
            >
            <b-dropdown-item @click="perfil()">Profile</b-dropdown-item>
            <b-dropdown-item @click="cerrarsesion()">Sign Out</b-dropdown-item>
            <!-- <span class="glyphicon glyphicon-user"></span> {{this.students[0].nombre}} -->
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <v-snackbar
      v-model="snackbar"
      :color="color"
      :timeout="timeout"
      :top="y === 'top'"
      :right="x === 'right'"
      :multi-line="mode === 'multi-line'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
      <v-btn dark flat @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "navBar",
  data() {
    return {
      mostrar: false,
      cookie1: null,
      igual: "",
      valor: "",
      students: [],
      recargar:false,

      snackbar: false,
      color: "",
      mode: "",
      timeout: 6000,
      text: "",
      y: "top",
      x: "right"
    };
  },
  created(){
    this.cookie1 = document.cookie;
    console.log("entro");
    console.log(this.cookie1);
    console.log(document.cookie);
    this.traercookie();
  },
  //
  // mounted() {
  //   this.traercookie();
  // },
  methods: {
    traercookie() {
      // this.recargar();
      this.igual = this.cookie1.indexOf("=");
      this.valor = this.cookie1.substring(this.igual + 1);
      if (this.valor != "") {
        let config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          }
        };
        let params = new FormData();
        params.append("email", this.valor);
        // params.append("password", this.password);
        axios
          .post("http://localhost/api/api3.php?action=buscar", params, config)
          .then(res => {
            this.students = res.data.students;
            this.snackbar = true;
            this.color = "cyan darken-2";
            this.text = "Bienvendio, " + this.students[0].nombre;
          });
        this.mostrar = true;
      }
    },
    recargar() {
      if (this.cookie1=="" || this.cookie1==undefined) {
        this.recargar=true;
location.reload(recargar);
      }

    },
    cerrarsesion() {
      document.cookie = "iduser= ; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
      alert("adios");
      location.reload(true);
    },
    perfil() {
      if (this.students[0].idtipo_usuario=3) {
        this.$router.push({ name: "navBaradmi" });
      }else {
        this.$router.push({ name: "profilesUser3" });
      }

    }
  }
};
</script>

<style scoped>
/* Logo */
.Logo {
  font-size: 30px;
  margin: auto;
}
/* ----------------------------- */
/* ItemsRouters */
.nav-link {
  font-size: 15px;
  width: 100px;
  text-align: left;
}
/* ----------------------------- */
/* NavItem */
.collapse {
  text-align: center;
}
.navbar {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: auto;
}
</style>
