<template>
  <div >
    <v-app>
      <navBar />
      <v-content>
        <router-view></router-view>
      </v-content>
      <!-- <footers /> -->
    </v-app>
  </div>
</template>

<script>
// import footers from "./components/footers.vue";
import navBar from "./navBaradmi.vue";

export default {

  components: {
    navBar,
    footers
  }
};
</script>

<style></style>
