<template lang="html">
  <div class="">
    <v-card>

    <v-toolbar flat color="white">
      <v-toolbar-title>Usuarios</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <!-- <v-btn color="primary" dark class="mb-2" v-on="on">buscar</v-btn> -->
      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
        </template>
        <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Nombre" name="nombre" v-model="nombre"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Email" name="email" v-model="email"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="clave" name="password" v-model="password"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select
                    name="tipo"
                    v-model="select"
                    :items="items"
                    :rules="[v => !!v || 'Item is required']"
                    label="tipo de usuario "
                    required
                  ></v-select>
                  <!-- <v-text-field  label="tipo de usuario"></v-text-field> -->
                </v-flex>
                <!-- <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                  </v-flex> -->
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="save" >Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-toolbar>

    <v-data-table :headers="headers" :items="users" :search="search">
      <template v-slot:items="props">
        <td>{{ props.item.idusuarios }}</td>
        <td class="text-xs">{{ props.item.nombre }}</td>
        <td class="text-xs">{{ props.item.email }}</td>
        <td class="text-xs">{{ props.item.password }}</td>
        <td class="text-xs">{{ props.item.idtipo_usuario }}</td>
        <td class="justify-center layout px-0">
          <v-icon :name="props.item.idusuarios"  @click="editItem(props.users)">
            edit
          </v-icon>
          <v-icon  @click="deleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
      <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="listarusuarios">Reset</v-btn>
      </template>
    </v-data-table>
  </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      usertype:null,
      dialog: false,
      users: [],
      search: '',
      editedIndex: -1,
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "Nombre", value: "Nombre" },
        { text: "Correo", value: "Correo" },
        { text: "password", value: "password" },
        { text: "Tipo usuario", value: 'Tipo Usuario' },
        { text: "Acciones", value: "name", sortable: false }
      ],
      editedItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },

      select: null,
      items: ["Persona", "Veterinaria", "Admin"]
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  created(){
    this.listarusuarios();

  },
  // mounted() {
  //   this.listarusuarios();
  // },
  methods: {
    listarusuarios() {
      axios
        .post("http://localhost/api/api4.php?action=listarusers")
        .then(res => {
          this.users = res.data.usuarios;
        });
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save(e) {
      let config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        }
      };
      console.log("ENTRE 1");
      if (this.tipo="persona") {
        this.usertype=2
      }
      if (this.tipo="Veterinaria") {
          this.usertype=3
      }else {
        this.usertype=1
      }
      if (this.usertype!=null) {
        let params = new FormData();
        params.append("nombre", this.nombre);
        params.append("email", this.email);
        params.append("password", this.password);
        params.append("usertype", this.usertype);
        axios
          .post(
            "http://localhost/api/api.php?action=create",
            params, config
          )
          .then(res => {
            this.toggleModal("add");
            this.setMessages(res);

          });
          this.close();
      }
    }
  }
};
</script>

<style lang="css" scoped></style>
