<template>
  <div>
    <div>
      <img src="" class="jumbo" />
    </div>
    <div class="container icons">
      <div>
        <img :src="perfiles[0].imaperfil" class="big-icon" />
      </div>
      <div class="rate">
        <a
          class="star-btn add-btn btn-floating btn-large waves-effect waves-light blue darken-1"
          ><i class="material-icons">star</i></a
        >
        <a
          class="like-btn add-btn btn-floating btn-large waves-effect waves-light blue darken-1"
          ><i class="material-icons">thumb_up</i></a
        >
      </div>
      <div class="add">
        <a class="add-btn btn-floating btn-large waves-effect waves-light red"
          ><i class="material-icons">add</i></a
        >
      </div>
    </div>
    <div class="details">
      <h3>{{ students[0].nombre }}</h3>
      <p>{{ perfiles[0].tipousuario }}</p>
    </div>
    <div class="container bio">
      <div class="title">
        <h6>Descripcion</h6>
      </div>
      <div class="content">
        <p>
          {{ perfiles[0].descripcion }}
        </p>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      perfiles: [],
      cookie: document.cookie,
      students: []
    };
  },
  mounted() {
    this.traerperfil();
  },
  methods: {
    traerperfil() {
      this.igual = this.cookie.indexOf("=");
      this.valor = this.cookie.substring(this.igual + 1);
      if (this.valor != "") {
        let config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
          }
        };
        let params = new FormData();
        params.append("email", this.valor);
        // params.append("password", this.password);
        axios
          .post("http://localhost/api/api3.php?action=perfil", params, config)
          .then(res => {
            this.perfiles = res.data.perfiles;
          });
        axios
          .post("http://localhost/api/api3.php?action=buscar", params, config)
          .then(res => {
            this.students = res.data.students;
          });
      }
    }
  }
};
</script>

<style>
.jumbo {
  width: 100%;
  height: 400px;
  background: center center no-repeat;
  background-size: cover;
}

.icons {
  display: flex;
  justify-content: space-between;
}
.big-icon {
  width: 180px;
  height: 180px;
  background: url() center top;
  background-size: 140%;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -90px;
}
.rate {
  width: 125px;
  display: flex;
  justify-content: space-between;
  order: -1;
}
.star-btn {
  margin-top: -27.5px;
}
.like-btn {
  margin-top: -27.5px;
}
.add {
  width: 125px;
  display: flex;
  justify-content: flex-end;
}
.add-btn {
  margin-top: -27.5px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
h3 {
  color: #212121;
  font-size: 28px;
  margin-top: 15px;
}
p {
  color: #727272;
  margin-top: 0px;
}
.bio {
  margin-bottom: 80px;
}
h6 {
  color: #212121;
  font-size: 18px;
}
p {
  color: #727272;
}
.pics {
  margin-bottom: 50px;
}
.title {
  margin-bottom: 20px;
}
h6 {
  color: #212121;
  font-size: 18px;
}
</style>
